body {
  background: url(bluehexagon.jpg);
  background-size: 100%
}

h1 {
  color: black;
  font-size: 400%;
  font-family: Arial;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  border: solid 10px white;
  padding: 1em;
  margin: 30px;
}

.intro {
  color: black;
  background: url(blush.jpg);
  border: solid 5px white;
  padding: 50px;
  margin: 200px, 50px, 100px, 800px;
}

h2 {
  padding: 0.5em;
  font-size: 3em;
}

ol {
  color: white;
  padding: 1em;
  line-height: 2em;
}

ol li{
  background-color: rgba(136, 128, 128, 0.486);
  display: inline-block;
}
