body {
  background: url(bluehexagon.jpg);
  background-size: 100%
}

h1 {
  color: black;
  font-size: 400%;
  font-family: Arial;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  border: solid 10px white;
  padding: ;
  margin: 30px;

}

.intro {
  color: black;
  background: url(blush.jpg);
  border: solid 5px white;
  padding: 50px;
  margin: 200px, 50px, 100px, 800px;
}

.answers {

}

ol {
  color: white;
}

ul li a{
  background-color: pink;
}
