body {
  background: url(lighthouse.jpg);
  background-size: 100%
  
}

ol {
  color: blue;
}

ul li a{
  background-color: pink;
}

.teal {
  color: teal;
}

.intro {
  color: black;
  background-color: azure;
  margin: 50px, 75px
}